{% extends 'base.html' %}
{% block title %}Удаление инструмента{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Удалить инструмент</h1>
        <p>Вы уверены, что хотите удалить "{{ object.name }} инв№{{ object.inventory_number }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'core:instruments-list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</body>
{% endblock %}